.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap : 200px
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.root-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

